<div class="flex h-screen">
  @if (showEditModal) { <app-edit-item-modal (closeModal)="hideModal()" /> }
  <div
    class="flex-1 flex flex-col justify-center px-8 relative overflow-y-auto"
  >
    <button
      class="absolute bottom-4 right-8 z-10 px-5 py-2.5 shadow-lg bg-blue-600 hover:bg-blue-700 text-white font-medium rounded-lg transition-colors"
      (click)="showModal()"
    >
      Tilføj
    </button>
    @for (item of list_of_items(); track item.id) {
    <app-list-item [item]="item" (updateUnits)="updateUnits($event)" />} @empty
    {
    <app-empty-list-item />}
  </div>
  <div class="flex-1 flex flex-col justify-center px-8">
    <app-result-card [value]="calcium_amount()" />
  </div>
</div>
